body {
    font-family: Arial, Helvetica, sans-serif;
    h1 {
        color: $color-principal;
    }
}
ul {
    background-color: lighten($color-principal, 30);
    padding: $espaciado $espaciado * 3;
    @include redondeado(32px);
    li {
        font-size: 24px;
        &.destacado {
            @extend %resaltar;
        }
    }
}
strong {
    @extend %resaltar;
}